.todo-card {
    max-width: 400px; /* Устанавливаем максимальную ширину карточки задачи */
    margin: 0 auto; /* Центрируем карточку по горизонтали */
    margin-top: 16px; /* Добавляем отступ сверху */
}

.todo-content {
    display: flex; /* Устанавливаем flex-контейнер */
    justify-content: space-between; /* Распределяем элементы по горизонтали */
    align-items: center; /* Выравниваем элементы по вертикали */
}

.container {
    display: flex;
    justify-content: center; /* Выравниваем элементы по центру по горизонтали */
    gap: 10px; /* Задаем промежуток между элементами */
}

